NEXT_PUBLIC_ENDPOINT=
# APPWRITE setting
PROJECT_ID=
API_KEY=
NEXT_PUBLIC_BUCKET_ID=
# patient profile
NEXT_PUBLIC_PATIENT_PROFILE_BUCKET_ID=
# patient analysis
NEXT_PUBLIC_PATIENT_ANALYSIS_BUCKET_ID=
# institution profile
NEXT_PUBLIC_INSTITUTION_PROFILE_BUCKET_ID=