@tailwind base;
@tailwind components;
@tailwind utilities;

/* ========================================== TAILWIND STYLES */

@layer components {
  .logo-ticker-image {
    @apply h-20 w-auto;
  }
}

@layer base {
  .global-border-outline {
    border: var(--border-border);
    outline: var(--outline-ring/50);
  }
  .body-styles {
    @apply bg-background text-foreground;
  }
  /* Remove scrollbar */
  .remove-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    border-radius: 0px;
  }

  .remove-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .remove-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0px;
  }

  .remove-scrollbar::-webkit-scrollbar-thumb:hover {
    /* background: #1e2238; */
    background: transparent;
  }

  /*? shad charts  */
  :root {
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer utilities {
  /* ===== UTILITIES */

  .sidebar {
    @apply remove-scrollbar w-full flex-col overflow-auto px-1 py-1;
  }

  .left-sidebar {
    @apply hidden lg:flex;
  }

  .right-sidebar {
    @apply hidden xl:flex;
  }

  .clip-text {
    @apply bg-clip-text text-transparent;
  }

  .bg-image {
    @apply bg-black-900 bg-light-rays bg-cover bg-no-repeat;
  }

  .title {
    @apply py-2 px-1 top-8 sm:top-12 max-[490px]:text-[20px] max-[768px]:text-[30px] max-[490px]:ml-0 max-[768px]:ml-7 sm:text-5xl sm:mx-auto font-bold tracking-tighter bg-gradient-to-b from-black to-[#001E80] text-transparent text-center sm:text-end bg-clip-text sm:leading-normal;
  }

  .header {
    @apply text-32-bold md:text-36-bold;
  }

  .sub-header {
    @apply text-18-bold md:text-24-bold;
  }

  .container {
    @apply relative flex-1 overflow-y-auto px-[5%];
  }

  .sub-container {
    @apply mx-auto flex size-full flex-col py-10;
  }

  .side-img {
    @apply hidden h-screen object-cover md:block;
  }

  .copyright {
    @apply text-14-regular justify-items-end text-center text-dark-600 xl:text-left;
  }

  /* ==== SUCCESS */
  .success-img {
    @apply m-auto flex flex-1 flex-col items-center justify-between gap-10 py-10;
  }

  .request-details {
    @apply flex w-full flex-col items-center gap-8 border-y-2 border-dark-400 py-8 md:w-fit md:flex-row;
  }

  /* ===== ADMIN */
  .admin-header {
    @apply sticky top-3 z-20 mx-3 flex items-center justify-between rounded-2xl bg-dark-200 px-[5%] py-5 shadow-lg xl:px-12;
  }

  .admin-main {
    @apply flex flex-col items-center space-y-6 px-[5%] pb-12 xl:space-y-12 xl:px-12;
  }

  .admin-stat {
    @apply flex w-full flex-col justify-between gap-5 sm:flex-row xl:gap-10;
  }

  /* ==== FORM */
  .radio-group {
    @apply flex h-full items-center gap-1 rounded-md border border-dashed border-dark-500 bg-white p-2 text-ellipsis;
  }

  .checkbox-label {
    @apply cursor-pointer text-sm font-medium text-dark-700 peer-disabled:cursor-not-allowed peer-disabled:opacity-70 md:leading-none;
  }

  /* ==== File Upload */
  .file-upload {
    @apply text-12-regular flex cursor-pointer flex-col items-center justify-center gap-3 rounded-md border border-dashed border-dark-500 bg-white p-1;
  }

  .file-upload_label {
    @apply flex flex-col justify-center gap-2 text-center text-dark-600;
  }

  /* ==== Stat Card */
  .stat-card {
    @apply flex flex-1 flex-col gap-6 rounded-2xl bg-cover p-6 shadow-lg;
  }

  /* ==== Status Badge */
  .status-badge {
    @apply flex w-fit items-center gap-2 rounded-full px-4 py-2;
  }

  /* Data Table */
  .data-table {
    @apply z-10 w-full overflow-hidden rounded-lg border border-dark-400 shadow-lg;
  }

  .table-actions {
    @apply flex w-full items-center justify-between space-x-2 p-4;
  }

  /* ===== ALIGNMENTS */
  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  /* ===== TYPOGRAPHY */
  .text-36-bold {
    @apply text-[36px] leading-[40px] font-bold;
  }

  .text-24-bold {
    @apply text-[24px] leading-[28px] font-bold;
  }

  .text-32-bold {
    @apply text-[32px] leading-[36px] font-bold;
  }

  .text-18-bold {
    @apply text-[18px] leading-[24px] font-bold;
  }

  .text-16-semibold {
    @apply text-[16px] leading-[20px] font-semibold;
  }

  .text-16-regular {
    @apply text-[16px] leading-[20px] font-normal;
  }

  .text-14-medium {
    @apply text-[14px] leading-[18px] font-medium;
  }

  .text-14-thin {
    @apply text-[14px] leading-[18px] font-light;
  }

  .text-14-regular {
    @apply text-[14px] leading-[18px] font-normal;
  }

  .text-12-regular {
    @apply text-[12px] leading-[16px] font-normal;
  }

  .text-12-semibold {
    @apply text-[12px] leading-[16px] font-semibold;
  }

  /* ==== text gradient color */
  .text-color {
    @apply text-[#474747];
  }

  .bg-gradient {
    @apply bg-[#EBEBEB];
  }

    /*? page */
    .glass-effect {
      @apply backdrop-blur-md bg-gradient-to-br from-white/20 via-white/10 to-white/5 border border-white/20 shadow-lg ;
    }
    /* !component */
    .glass-effect-vibrant {
      @apply backdrop-blur-lg bg-gradient-to-b from-white/40 to-black/80 border border-white/30 bg-opacity-50 shadow-xl rounded-2xl;
    }
    

  /* =====  SHADCN OVERRIDES */
  .shad-primary-btn {
    @apply bg-green-500 text-white !important;
  }

  .shad-danger-btn {
    @apply bg-red-700 text-white !important;
  }

  .shad-gray-btn {
    @apply border border-dark-500 cursor-pointer bg-white text-black !important;
  }

  .shad-input-label {
    @apply text-14-medium text-black !important;
  }

  .shad-input {
    @apply bg-transparent placeholder:text-dark-700 h-11 focus-visible:ring-0 bg-clip-text focus-visible:ring-offset-0 text-dark-600 !important;
  }

  .shad-input-icon {
    @apply placeholder:text-dark-700 h-11 focus-visible:ring-0 focus-visible:ring-offset-0 !important;
  }

  .shad-textArea {
    @apply placeholder:text-dark-600 border-[#6e6e6e] focus-visible:ring-0 focus-visible:ring-offset-0 flex rounded-md shadow-md shadow-[#6e6e6e] bg-white border-black/20 border-[1px] !important;
  }

  .shad-combobox-item {
    @apply data-[disabled=true]:pointer-events-none data-[disabled=true]:opacity-50 !important;
  }

  .shad-combobox-trigger {
    @apply h-11 !important;
  }

  .shad-select-trigger {
    @apply bg-white placeholder:text-dark-600 border-white h-11 focus:ring-0 focus:ring-offset-0 !important;
  }

  .shad-select-content {
    @apply bg-white border-white !important;
  }

  .AlertDialogContent {
    @apply bg-white/50 shadow-light-200 shadow-md fixed top-[50%] left-[50%] -translate-x-[50%] w-[90%] max-w-[500px] max-h-[90%] p-[25px];
  }

  .AlertDialogContent:focus {
    outline: none;
  }

  .shad-dialog {
    @apply bg-white border-white !important;
  }

  .shad-dialog button {
    @apply focus:ring-0 focus:ring-offset-0 focus-visible:border-none focus-visible:outline-none focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
  }

  .shad-error {
    @apply text-red-400 !important;
  }

  .shad-table {
    @apply rounded-lg overflow-hidden !important;
  }

  .shad-table-row-header {
    @apply border-b border-dark-400 text-light-200 hover:bg-transparent !important;
  }

  .shad-table-row {
    @apply border-b border-dark-400 text-light-200 !important;
  }

  .shad-otp {
    @apply min-[600px]:w-[100%] flex justify-between !important;
  }
  
  .shad-otp-slot {
    @apply text-36-bold justify-center flex border text-white border-white rounded-lg size-12 lg:size-16 gap-4 !important;
  }

  .shad-alert-dialog {
    @apply min-[600px]:w-[100%] mx-auto max-w-sm p-4 border border-gray-200 rounded-xl shadow-md flex items-start flex-wrap gap-3 sm:max-w-xs z-50 space-y-5 bg-black outline-none !important;
  }

  .shad-sheet-content button {
    @apply top-2 focus:ring-0 focus:ring-offset-0 focus-visible:border-none focus-visible:outline-none focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
  }

  /* =====  REACT PHONE NUMBER INPUT OVERRIDES */
  .input-phone {
    @apply mt-2 h-11 rounded-md px-3 text-sm bg-white border-black/20 placeholder:text-dark-700 border-[1px] focus-visible:ring-0 shadow-lg shadow-[#6e6e6e] bg-clip-text focus-visible:ring-offset-0 text-dark-600 !important;
  }

  /* =====  REACT DATE PICKER OVERRIDES */
  .date-picker {
    @apply overflow-hidden border-[1px] focus-visible:ring-0 bg-clip-text focus-visible:ring-offset-0 text-dark-600 w-full placeholder:text-dark-600 h-11 text-14-medium rounded-md px-3 outline-none bg-white !important;
  }
}

/* =====  REACT-DATEPICKER OVERRIDES */
.react-datepicker-wrapper.date-picker {
  display: flex;
  align-items: center;
  border-color: #000000;
  /* box-shadow: 0px 1px 2px #6e6e6e; */
}

.react-datepicker,
.react-datepicker__time,
.react-datepicker__header,
.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker-time__header {
  background-color: #000000 !important;
  border-color: #6e6e6e !important;
  color: #abb8c4 !important;
}

.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker-time__header {
  color: #e8e9e9 !important;
}

.react-datepicker__triangle {
  fill: #000000 !important;
  color: #e8e9e9 !important;
  stroke: #e8e9e9 !important;
}

.react-datepicker__time-list-item:hover {
  background-color: #000000 !important;
}

.react-datepicker__input-container input {
  background-color: #ffffff !important;
  width: 100%;
  outline: none;
}

.react-datepicker__day--selected {
  background-color: #24ae7c !important;
  color: #ffffff !important;
  border-radius: 4px;
}

.react-datepicker__time-list-item--selected {
  background-color: #24ae7c !important;
}

.react-datepicker__time-container {
  border-left: 1px solid #646464 !important;
}

.react-datepicker__time-list-item {
  display: flex !important;
  align-items: center !important;
}

.react-datepicker__year-dropdown {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #646464 !important;
}
.react-datepicker__navigation--react-datepicker__navigation--years--react-datepicker__navigation--years-previous {
  border-color: #646464 !important;
  color: #ffffff;
}

/* =====  REACT PHONE NUMBER INPUT OVERRIDES */

.PhoneInput {
  outline: none;
  margin-left: 4px;
  background: #ffffff;
  font-size: 14px;
  font-weight: 500;
}

.PhoneInputInput::placeholder {
  color: #000000;
}
